/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --col-de-letra:#464646;
   --col-de-bot: #2A7AE4;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--col-de-letra);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Utilización en mi CSS del Metodo BEM*/

/*Sección Menu*/

section.menu{
display: flex;
align-items: center;
justify-content: space-between;
}
.menu__header{
    display: flex;
}
.logo__inicio{
    width: 24px;
    height: 24px;
    margin: auto;
    padding-left: 1rem;
}
.menu__title{
    padding-left: 1rem;
}
.menu__list{
    display: flex;
}
.menu__list__item{
    padding-right: 2rem;
}
.menu__list__item__contacto{
    display: flex;
    font-weight: bold;
}
/*Sección Title*/

section.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title__div {
    display: flex;
    flex-direction: row-reverse;
}
.title__profile{
    width: 368px;
    height: 368px;
    border-radius: 100%;
    padding-right: 2rem;
}
.title__profile:hover{
    cursor: pointer;
}

.title__container {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

}
.title__bio{
    font-weight: bold;
    font-size: 52px;
}
.title__subsection{
    font-size: 22px;
}
.title__network{
    display: flex;
}
.title__network__item{
    padding-right: 2rem;
}

/*Sección About*/

section.about{
    padding-left: 2rem;
}
.about__container{
    padding-right: 1rem;
}
.about__title{
    font-weight: bold;
    font-size: 32px;
}
.about__paragraph{
    font-size: 16px
}
/*Sección Skills*/
section.skills{

}
.skills__title{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 2rem;
}
.skills__line{
    display: flex;
    justify-content: center;
}


/*Sección Hobbies*/

section.hobbies{
    
}
.hobbies__title{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.hobbies__line{
    display: flex;
    justify-content: center;
}

/* Experiencia Académica*/

section.academic{


}
.academic__title{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.academic__courses{
    display: flex;
    justify-content: center;
}
/* experiencia*/

section.experience{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}
.experience__section__title{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.experiencie__box{
    display: flex;
    margin-bottom: 4rem;
}
.experience__img{
    width: 752px;
    height: 406px;
}
.experience__info{
    margin: auto;
    margin-left: 1rem;
    width: 368px;
}
.experience__title{
    font-weight: bold;
    font-size: 22px;
}
.experience__text{
    font-size: 16px;
}
.experience__description{
}
.experience__repo{
    font-size: 16px;
    margin-right:1rem;
}
.experiencia__botao--repo{
    border: 1px solid var(--col-de-bot);
    color: var(--col-de-bot);
    width: 116px;
    height: 51px;
    font-size: 16px;
}
.experiencia__botao--repo:hover{
    cursor: pointer;
}
.experience__demo{

}
.experience__botao--demo{
    background: var(--col-de-bot);
    width: 116px;
    height: 51px;
    font-size: 16px;
    color: #ffffff;
    border: none;
}
.experience__botao--demo:hover{
    cursor: pointer;
}

/*Contacto*/

section.formcontato{
    
}
.formcontato__contacto{
    display: flex;
}
.formcontato__esquerda{

}
.formcontato__img{

}
.formcontato__text{
    margin-left: 1rem;
}
.formcontato__title{
    margin-top: 0px;
    font-weight: bold;
    font-size: 32px;
}
.formcontato__subtext{
    margin-top: 0px;
    font-size: 16px;
}
.formcontato__form{
    display: flex;
    flex-direction: column;
}
.formcontato__input{
    width: 656px;
    height: 56px;
    margin-bottom: 1rem;
}
.formcontato__textarea{
    width: 656px;
    height: 133px;
    margin-bottom: 2rem;
    resize: none;
}
.formcontato__botao{
    width: 144px;
    height: 51px;
    background: var(--col-de-bot);
    color: #ffffff;
    border: none;
}
.formcontato__botao:hover{
    cursor: pointer;
}
/*footeer*/

section.footer{
   
}
.footer__rodape{
    text-align: center;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}