/*Sección About*/

.about{
    background: url('../img/about.png') no-repeat;
    background-size: cover;
    padding: 50px 30px;
}
.about__container{
    padding: 0 16px;
    border: 3px solid #766834;
    border-radius: 100px;
}
.about__title{
    font-weight: bold;
    font-size: 42px;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}
.about__paragraph{
    font-size: 18px;
    text-align: center;
}
.firma{
    padding-bottom: 20px;
    mix-blend-mode: color-burn;
}
/*Mobile*/
@media (max-width: 425px) {
    .about__title{
        font-size: 22px;
    }
    .about__paragraph{
        font-size: 14px;
    }
}