/* Experiencia Académica*/
.academic__title{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.academic__courses{
    display: flex;
    justify-content: center;
}
/*Tablet*/
@media (max-width: 768px) {
/*.academic__courses__box{
    display: flex;
    flex-wrap: wrap;
}*/
.academic__courses__item__img{
    width: 224px;
    display: flex;
    justify-content: center;
}
.academic__courses__item__title{
    font-size: 16px;
    text-align: center;
} 
.academic__courses__item__subtitle{
    font-size: 14px;
    text-align: center;
}
}
/*Mobile*/
@media (max-width: 425px) {
    .academic__title{
        font-size: 22px;
    }
    .academic__courses{
        display: flex;
        flex-direction: column;
    }
    ul{
        padding-inline-start: 0px;
    }
    .academic__img{
      margin-left: 58%
    }
    .academic__courses__item__title h4{
        margin: 8px 0;
    }
    .academic__courses__item__subtitle{
        margin: 0;
    }
}