/*Contacto*/
.formcontato{
    background:#e6dcb8
}
.formcontato__contacto{
    display: flex;
    justify-content: center;
    background-image: url(../img/contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #181810;
}

.formcontato__title{
    margin: 44px 0 20px 0;
    font-weight: bold;
    font-size: 64px;
    text-align:center;
}
.formcontato__subtext{
    margin-top: 0px;
    font-size: 32px;
    text-align:center;
}
.formcontato__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.formcontato__input{
    width: 656px;
    height: 56px;
    opacity: 50%;
    font-size: 18px;
}
.formcontato__textarea{
    width: 656px;
    height: 133px;
    margin-bottom: 2rem;
    resize: none;
    opacity: 50%;
    font-size: 18px;
    font-family: 'Raleway';
}
.formcontato__botao{
    width: 144px;
    height: 51px;
    background: var(--col-de-bot);
    color: var(--col-de-letra-);
    border: none;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #000000;
}
.formcontato__botao:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.input__mensaje__error{
    margin: 0 0 10px 0;
    color: red;
    font-weight: 300;
}
/*Tablet*/
@media (max-width: 768px) {
    .formcontato__img {
        display: none;
    }
}
/*Mobile*/
@media (max-width: 425px) {
    .formcontato__title {
        font-size: 24px; 
        }
    .formcontato__subtext{
        font-weight: 300;
        font-size: 20px;
        }
    .label{
        font-size: 16px;
        font-weight: 100;
    }
    .formcontato__input{
        width: 296px;
        height: 56px;
        }
    .formcontato__textarea{
        width: 296px;
        height: 133px;
        }
    .formcontato__botao{
        width: 133px;
        height: 40px;
        }
}      
    