/*footer*/
.footer{
    background-color: #B6D1E3;
}
.downloader__btn{
    width: 150px;
    height: 51px;
    background: var(--col-de-bot);
    color: #ffffff;
    border: none;
    font-size: 16px;
    margin-top: 16px;
}
.downloader__btn:hover{
    cursor: pointer;
}
.footer__rodape{
    text-align: center;
}
.copyright{
    margin-bottom: 0;
}
/*Mobile*/
@media (max-width: 425px) {
    .downloader__btn {
        margin: 25px auto;
        width: 144px;
        height: 40px;
        font-size: 16px;
}
    .copyright{
        font-weight: 400;
    }
}      
    