/*Sección Hobbies*/
.hobbies__title{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.hobbies__line{
    display: flex;
    justify-content: center;
}
/*Tablet*/
@media (max-width: 768px) {
.hobbies__line{
    display: flex;
    flex-wrap: wrap;
}
.hobbies__box{
    width: 224px;
    display: flex;
    justify-content: center;
} 
}
/*Mobile*/
@media (max-width: 425px) {
    .hobbies__title{
        font-size: 22px;
    }
    .hobbies__box{
        width: 156px;
        display: flex;
        justify-content: center;
} 
    .hobbies__name{
        font-size: 16px;
        margin-top: 8px;
    }
    ul{
        padding-inline-start: 0px;
    }
    .hobbies__img{
        text-align: center;
    }
}