/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   --col-de-fondo: #F5F5F5;
   --col-de-link: #000;
   --col-de-letra:#000;
   --col-de-bot: #FEF4C3;
   --col-de-title:#FDF6D5;
   --col-de-link-noche:#ffd3d3;
}

body {
    box-sizing: border-box;
    background-color: var(--col-de-fondo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--col-de-letra);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--col-de-link);
}
