/*Utilización en mi CSS del Metodo BEM*/

/*Sección Menu*/

    section.menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ACA775;
}
    .menu__header{
        display: flex;
        width: 250px;
}
    .logo__inicio{
        width: 24px;
        height: 24px;
        margin: auto;
        padding-left: 1rem;
}
    .menu__title {
        padding-left: 1rem;
        font-size: 28px;
        display: block;
        font-family: monospace;
        white-space: nowrap;
        border-right: 4px solid;
        width: 12ch;
        animation: typing 2s steps(12), blink .5s infinite step-end alternate;
        overflow: hidden;
}
    .menu__list{
        font-size: 18px;
    }

    .noche__dia:hover{
        cursor: pointer;
}

    @keyframes typing {
    from {
        width: 0;
    }
}

    @keyframes blink {
    50% {
        border-color: transparent;
    }
}
    .menu__list{
        display: flex;
}
    .menu__list__item{
        padding-right: 2rem;
        transition: transform 0.2s;
}
    .menu__list__item:hover{
        transform: scale(1.1);
}
    .menu__list__item__contacto{
        display: flex;
        font-weight: bold;
}
/*Tablet*/
@media (max-width: 768px) {
    section.menu {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .logo__inicio{
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
    }
    .menu__title{
            font-size: 28px;
        }
    .menu__list {
            flex-direction: column; 
            padding-left: 0;
            margin-bottom: 0;
        }
    .menu__list__item {
            padding: 1rem 0;
        }      
    .sun__nigth{
        justify-content: center;
        margin: 0;
        width: 100px;
    }
}   
/*Mobile*/
@media (max-width: 425px) {
    .logo__inicio{
        padding-left: 0;
    }
.section.menu {
        flex-direction: column; 
        text-align: center; 
    }
.menu__header {
        margin-bottom: 0;
    }
.menu__title{
        font-size: 26px;
        padding-left: 8px;
    }
.menu__list {
        padding-left:0;
    }
.menu__list__item {
        padding: 0.30rem;
    }     
}      
