/*Sección Title*/

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--col-de-title) ;
}
.title__div {
    display: flex;
    flex-direction: row-reverse;
}
.title__profile {
    width: 368px;
    height: 368px;
    border-radius: 100%;
    margin: 10px 2rem 10px 0; /* 10px de margen arriba y abajo, 2rem de margen a la derecha, 0 de margen a la izquierda */
    border: 4px solid;
    animation: borderAnimation 5s linear infinite alternate;
}
@keyframes borderAnimation {
    0% {
        border-color: #80A1E9;
   
    }
    25% {
        border-color: #B8AEE6;
      
    }
    50% {
        border-color: #C5B3E6;
  
    }
    75% {
        border-color: #D3B8E6;
  
    100% {
        border-color: #B6D1E3;
    }
    }
}
.title__profile:hover {
    cursor: pointer;
}
.title__container {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.title__bio{
    font-weight: bold;
    font-size: 52px;
}
.title__subsection{
    font-size: 22px;
}
.title__network{
    display: flex;
}
.title__network__item{
    padding-right: 2rem;
    transition: transform 0.2s;
}
.title__network__item:hover{
    transform: scale(1.1);
}
/*Tablet*/
@media (max-width: 768px) {

    .title__profile{
        width: 146px;
        height: 146px;
        padding-right: 0.5rem;
    }
    .title__bio{
        font-size: 22px;
    }
    .title__subsection{
        font-size: 16px;
    }
    .title__network__item{
        font-size: 16px;
    }  
}
/*Mobile*/
@media (max-width: 425px) {
    .title{
        align-items: stretch;
    }
    .title__container {
        padding: 0 1rem;
        text-align: center;
        max-width: 100%
    }
    .title__div {
        display: flex;
        flex-direction: column;
    }
    .title__profile{
        margin:1rem  auto;
    }
    .title__bio{
        margin: 1rem 0;
    }
    .title__subsection{
        font-size: 14px;
    
    }
    .title__network{
        padding-left:0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title__network__item{
        font-size: 14px;
        margin-bottom: 10px;
        padding-right: 10px;
    }  
}   